<% @folders.each do |folder| %>
<a href="/folders/<%= folder.slug %>/items"><%= folder.name %></a>

<form action="/folders/<%= folder.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit">Delete Folder</button>
</form>

<form action="/folders/<%= folder.slug %>/edit">
  <button type="submit">Edit</button>
</form><br>

<% end %>

<br>
<br>

<a href="/folders/new">Create New Folder</a>
<br>
