<% @folder.items.sort { |a,b| a.name.downcase <=> b.name.downcase }.each do |item| %>
    <a href="/<%= current_user.slug %>/items/<%= item.slug %>/<%= item.id %>/show"><%= item.name %></a><br>
<% end %>
