/*////////// NAVBAR STYLES //////////*/


/*////////// LAYOUT STYLES //////////*/

a.btn {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

a.btn:hover {
  background-color: #555;
}

a.btn:active {
  background-color: black;
}

a.btn:visited {
  background-color: #ccc;
}

body {
  background-color: #53A5F6;
}

.container {
  background-color: #fff;
}

.divider-line {
  width: 1100px;
  height:0;
  border-top: 2px solid #FF7500;
  font-size:0;"
  margin-top: 200px;
}

h3 .folder_items {
  color: blue;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 20px;
}

.row.page-links {
  margin-top: 50px;
}
