/*////////// NAVBAR STYLES //////////*/
a .dropdown-item .dropdown-section {
  color: ##53a5f6;
  font-weight: 700;
  background-color: #53a5f6;
}

.dropdown-section:hover, .dropdown-section:focus {
  color: #53a5f6;
  text-decoration: none;
  background-color: #53a5f6;
}

.dropdown-section.active, .dropdown-section:active {
  color: #fff;
  text-decoration: none;
  background-color: #53a5f6;
}

.dropdown-section.disabled, .dropdown-section:disabled {
  color: #53a5f6;
  background-color: transparent;

/*////////// LAYOUT STYLES //////////*/
.row {
  margin-bottom: 20px;
}
