/*////////// NAVBAR STYLES //////////*/


/*////////// LAYOUT STYLES //////////*/

body {
  background-color: #53A5F6;
}

.title_heading {
  background-color: #53A5F6;
  width: 350px;
  padding: 5px;
  margin-left: 0px;
  color: white;
  border: round;
}

.container {
  background-color: #fff;
}

.divider-line {
  width: 1100px;
  height:0;
  border-top: 2px solid #FF7500;
  font-size:0;"
  margin-top: 200px;
}

.item-divider {
  width: 288px;
  height:0;
  border-top: 2px solid #157EFB;
  font-size:0;"
  margin-top: 200px;
}

.folder-btn {
  background-color: green;
}

h3 .folder_items {
  color: blue;
  margin-bottom: 20px;
}



.row {
  margin-bottom: 20px;
}

.row.page-links {
  margin-top: 50px;
}
