
<!-- Display Delete Folder button -->

<!-- DELETE BUTTON-->
<div>
  <form action="<%= delete_path %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button class="btn btn-danger btn-sm"  type="submit"> Delete <%= object_string %></button>
  </form>
</div>
