
<br>

<!-- Displays Item Creation Button -->
<form action="/<%= current_user.slug %>/items/new">
  <button class="content_button" type="submit"><a class="add_button" href="/<%= current_user.slug %>/items/new">Add a New Item</a></button>
</form>
