
<br>

<!-- Displays Item Creation Button -->
<form action="/<%= current_user.slug %>/items/new">
  <button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" type="submit">Create a New Item</a></button>
</form>
