<h2> Welcome to the Registration Page </h2>

<% if flash[:warning] %>
<br>
  <div class="flash_warning">
    <%= flash[:warning] %>
  </div>
<br>
<% end %>

<form action="/signup" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="Username">
  <br>
  <label for="email">Email: </label>
  <input type="email" name="email" placeholder="Email">
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Password">
  <br>
  <br>
  <button class="content_button"  type="submit">Create User</button>
</form>
