<!-- Displays page title -->
<h2> Welcome to the Registration Page </h2>

<%= erb(:"partials/flash_partial") %>

<!-- Displays signup form -->
<form action="/signup" method="POST">

  <!-- Requests username -->
  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="Username" required>
  <br>

  <!-- Requests email -->
  <label for="email">Email: </label>
  <input type="email" name="email" placeholder="Email" required>
  <br>

  <!-- Requests password -->
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Password" required>
  <br>
  <br>

  <!-- Submit button -->
  <button class="content_button"  type="submit">Create User</button>
</form>
