<h2>Welcome <%= @user.username.capitalize %>,</h2>
<br>
<h5>Please select an option:</h5><br>
<a href="/<%= @user.slug %>/folders">Your Folders</a><br>
<a href="/<%= @user.slug %>/categories">Your Item Categories</a><br>
<a href="/<%= @user.slug %>/items">Your Items</a><br>
