<h3> Create a New Category: </h3>
<br>


<form action="/<%= current_user.slug %>/categories/new" method="POST">
  <p>Category Name: <input type="text" name="category[name]" placeholder="Category Name"><p> <br>

    <label>Add or Remove existing items: </label><br>
    <select name="category[item_ids][]" size="4" multiple>
      <% @items.each do |item| %>
        <option value="<%= item.id %>" <%= 'selected' if @folder.items.include?(item) %>><%= item.name %></option>
      <% end %>
    </select>
    <p>(hold ctrl [in Windows] or cmd [in MacBooks] to select or deselect any of the above)</p>

  <br>
  <br>

  <h5>Would you like to add a new item as well?</h5>
  <br>

  <label class="item" for="item_name">Item Name:
  <input type="text" name="item[name]" placeholder="Item Name">
  </label>
  <br>

  <label class="item" for="item_cost">Item Cost:  $
  <input type="number" name="item[cost]" min="0.00" max="999999999999999.00" step="0.01" placeholder="0.00">
  </label>
  <br>
  <br>

  <label class="item" for="item_description">Item Description: </label><br>
  <textarea name="item[description]" rows="10" cols="30">Item Description (e.g. shape, color, why it's important, etc.)</textarea>
  <br>

  <br>
  <br>


  <button class="content_button"  type="submit">Create New Category</button>
</form>


  <br>
  <br>

  <a href="javascript:history.back()">Go Back</a>
