<div class="row">
  <div class="col-sm-12">
    <h1>Welcome to Hearth and Home Inventory Organizer</h1>
    <br>
    <p>You must register an account before you can use this app.<p>
    <p>If you have not registered yet, please <a href="/signup">Register Now</a></p>
    <p>If you already have an account, please <a href="/login">Login Now</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <img src="images/rustic_home_office.jpg" class="img-fluid" alt="Responsive image" title="Welcome to Hearth and Home Inventory Organizer">
      <figcaption>Something Something</figcaption>
    </figure>
  </div>

  <div class="col-sm-6">
    <figure>
      <img src="images/coffee_pot_table.jpg" class="img-fluid" alt="Responsive image" title="Welcome to Hearth and Home Inventory Organizer">
      <figcaption>Something2 Something2</figcaption>
    </figure>
  </div>
</div>


<div class="row">
  <div class="col-sm-4">
    <h3>Contact</h3>
    <p>
      email: <a href="mailto:info@heartandhome.com">info@hearthandhome.com</a><br>
      phone: +1 786 742 6789
    </p>
    <h3>Correspondence</h3>
    <address>
      Hearth & Home<br>
      P.O. Box 77777<br>
      Brooklyn, NY 11223
    </address>
  </div>

  <div class="col-sm-4">
    <h3>Links</h3>
    <p>
      <a href="#" target="_blank">Something Useful 1</a><br>
      <a href="#" target="_blank">Something Useful 2</a><br>
      <a href="#" target="_blank">Something Useful 3</a>
    </p>
  </div>

  <div class="col-sm-4">
    <h3>Follow</h3>
    <p>
      <a href="#" target="_blank">YouTube</a><br>
      <a href="#" target="_blank">Facebook</a><br>
      <a href="#" target="_blank">Twitter</a>
    </p>
  </div>
</div>
