
<%= erb(:"partials/flash_partial") %>

<div class="row">
  <div class="col-sm-12">
    <h1>Welcome to Hearth and Home Inventory Organizer</h1>
    <br>
    <p>You must register an account before you can use this app.<p>
    <p>If you have not registered yet, please <a href="/signup">Register Now</a></p>
    <p>If you already have an account, please <a href="/login">Login Now</a></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <figure>
      <img src="images/rustic_home_office.jpg" class="img-fluid" alt="Responsive image" title="Welcome to Hearth and Home Inventory Organizer">
      <figcaption></figcaption>
    </figure>
  </div>

  <div class="col-sm-6">
    <figure>
      <img src="images/coffee_pot_table.jpg" class="img-fluid" alt="Responsive image" title="Welcome to Hearth and Home Inventory Organizer">
      <figcaption></figcaption>
    </figure>
  </div>
</div>
